<apex:page sidebar="false" showHeader="false" renderAs="pdf" applyBodyTag="false" applyHtmlTag="false" controller="VFC01_EmailRemerciement" >
    <html>

    <head>
        <style>
            .tableSize {
                width: 100%;
            }
            
            .text-align-center {
                text-align: center;
            }
            
            .fontStyle {
                font-family: 'Arial Unicode MS';
                color: #727070;
            }

            .text-align-right{
                text-align:right;
            }
            
            .dark{
                color:#111
            }


            
        </style>
    </head>

    <body>
        <table class="tableSize">
            <tr>
                <td class="text-align-center">
                    <img src="{!URLFOR($Resource.assets, 'logo.png')}" height='100' width='170' />
                </td>
            </tr>
        </table>
        <table class="tableSize">
            <tr>
                <td>
                    <p class="fontStyle" style="padding-top:50px; font-size:12px">Witaj Moniko,</p>
                    <p class="fontStyle" style="font-size:13px">Dziękujemy za skorzystanie z oferty naszej platformy RCI Store. Poniżej zamieszczamy podsumowanie Twojego zamówienia o numerze <span> {!currentSubProd.Zuora__Subscription__r.Zuora__SubscriptionNumber__c} </span> (numero de commande):</p>
                </td>
            </tr>

        </table>

        <table class="tableSize">
            <tbody>
                <tr>
                    <td class="fontStyle dark " style="padding-top:40px;" colspan="2">PRODUKT (produit)</td>

                    <td class="fontStyle dark text-align-right" style="padding-top:40px;">SKŁADKA(prime)</td>
                </tr>
                <tr>
                    <td class="fontStyle" style="padding-top:10px;" colspan="2"><apex:outputText value="{!currentSubProd.Zuora__ProductName_Product__c}" escape="false"/></td>
                    <td class="fontStyle text-align-right" style="padding-top:10px;"><span>{!currentSubProd.Zuora__Price__c}</span> <span class="dark"> zł </span> </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="fontStyle" style="padding-top:10px;" colspan="2"></td>
                    <td class="fontStyle text-align-right dark" style="padding-top:10px;"><span>Koszt całkowity(cout total:){!currentSubProd.Zuora__Price__c}</span>zł</td>
                </tr>
            </tfoot>
        </table>

            <p class="fontStyle" style="padding-top:10px; font-size:13px ">W następnym mailu prześlemy polisę/polisy,Ogólne warunki ubezpieczenia oraz niespodziankę voucher na powitanie dla grona naszych pierwszych Klientów.
            </p>

            <p class="fontStyle" style="padding-top:10px; font-size:13px ">Zapraszamy ponownie na naszą platformę RCI Store.</p>

        <table class="tableSize" style="padding-top:10px">
            <tr>
                <td class="text-align-center">
                    <img src="{!URLFOR($Resource.assets, 'voucher.png')} "  height='250' width='700'/>
                </td>
            </tr>
        </table>
    </body>

    </html>
</apex:page>