<apex:page renderAs="pdf" Controller="VFC01_RenaultKwid" showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">
<html>
    <head>
        <style>
             @page {
                size: A4;
                margin: 0.25in;
              /*  @top-center {
                    content: "";
                }*/
                @bottom-center {
                    color:rgb(149,149,149);
                    font-size:8px;
                   /* content: counter(page)/*"Page " counter(page) " of " counter(pages)*/
                    content: "© COPYRIGHT 2017, CARDIF DO BRASIL SEGUROS E GARANTIAS S.A.";
                }
            }
            .bigTable{
                width:100%;
                font-family:"Arial Unicode MS";
            }

            .HeaderTr{
                border-bottom:none;
                border-right:none;
            }

            .MainRow{
                 background-color:#edeceb;
                 margin-left:5px;
                 font-size:10px;
                 line-height:20px;
            }
            .textBox{
                background-color:white;
                /*width:50px;
                display: inline-block;*/
            }
            .SpanSizeHeading{
                font-size:11px;
            }
            .marginStyle{
                margin-left:5px;
                margin-right:5px;
                margin-top:0px;
            }
            .tdStyle{
                white-space: nowrap;
                width: 10px;
            }
            .footer1{
                background-color:#d5cfcc;
            }
            .footer2{
                background-color:#edeceb;
            }


        </style>
    </head>
    <body>
        <!-- Header -->
         <table class="bigTable" border="1" cellspacing="0">
            <tr>
                <td style="background: -webkit-linear-gradient(right,#9a8e8a,#b7aeab);text-align: center;background-color:#9a8e8b" class="HeaderTr">PROPOSTA DE ADESÃO</td>
                <td style="background-color:#aba09c" class="HeaderTr"><b>&nbsp;&nbsp;SEGURO DE GARANTIA ESTENDIDA ORIGINAL &nbsp;&nbsp;EGVN KWID</b></td>
                <td rowspan="2">  <apex:image value="{!URLFOR($Resource.Logo_RenaultKwid)}" /></td>         
            </tr>

            <tr>
                <td colspan="2" style="text-align: center;background-color:#d5cfcc;font-size:10px;border-right:none;">
                    As Condições Gerais desse seguro foram apresentadas ao proponente previamente à contratação e poderão também ser consultadas através do site condicoesgerais.bnpparibascardif.com.br/ga. 
                </td>
            </tr>
            <tr>
                <td colspan="3" class="MainRow" > 
                    <p class="marginStyle"><span class="SpanSizeHeading"><b>1. PROPONENTE</b></span><br/>
                        <table class="bigTable" style="margin-top:-5px">
                            <tr>
                                <td class="tdStyle">Nome</td>
                                <td class="textBox" style="width:50%;"><apex:outputText value="{!IF((currentSub.SubscriberType__c == 'Physical Person'), (currentSub.Zuora__Account__r.firstname+' '+currentSub.Zuora__Account__r.lastname), currentSub.CompanyName__c)}" /></td>
                                <td class="tdStyle">CPF / CNPJ</td>
                                <td class="textBox"  style="width:25%;"><apex:outputText value="{!IF(currentSub.SubscriberType__c == 'Physical Person', currentSub.Zuora__Account__r.ContactFunctionalID__pc, currentSub.CompanyFunctionalID1__c)}"/></td>
                                <td class="tdStyle">Nacionalidade</td>
                                <td class="textBox"  style="width:25%;"><apex:outputText value="{!currentSub.Zuora__Account__r.Citizenship__pc}"/></td>
                            </tr>
                        </table>
                    </p>
                    <p class="marginStyle">
                        <table class="bigTable" style="line-height:10px;margin-top:-5px">
                            <tr>
                                <td class="tdStyle">Endereço</td>
                              <!-- NAK 14-09-2017 :Put all address on 1 line -->
                <td class="textBox" style="width:50%;"><p style="margin-top: 0px;margin-bottom: 0px;"><apex:outputText value="{!currentSub.Zuora__Account__r.BillingAddressLine1__c} {!currentSub.Zuora__Account__r.BillingAddressLine2__c} {!currentSub.Zuora__Account__r.BillingAddressLine3__c} {!currentSub.Zuora__Account__r.BillingAddressLine4__c}" /></p>
                                </td>
                                <td class="tdStyle">CEP</td>
                                <td class="textBox"  style="width:15%;">
                                    <apex:outputText value="{!currentSub.Zuora__Account__r.BillingPostalCode__c}"/> <!-- NAK 14-09-2017 :Add __c -->
                                </td>
                                <td class="tdStyle">Cidade: </td>
                                <td class="textBox"  style="width:15%;"><apex:outputText value="{!currentSub.Zuora__Account__r.BillingCity__c}"/></td>
                                <td class="tdStyle">UF</td>
                                <td class="textBox"  style="width:15%;"><apex:outputText value="{!currentSub.Zuora__Account__r.BillingDistrict__c }"/></td>
                            </tr>
                        </table>
                    </p>
                    <p class="marginStyle"><span class="SpanSizeHeading" style="padding-top:-5px;"><b>2. DADOS DO VEÍCULO</b></span>
                        <br/>
                        <table class="bigTable" style="margin-top:-5px">
                            <tr>
                                <td class="tdStyle">Marca / Modelo</td>
                                <td class="textBox" style="width:50%;"><apex:outputText value="{!currentSub.Brand__c} {!currentSub.Model__c}" /></td>
                                <td class="tdStyle">Ano-Modelo</td>
                                <td class="textBox"  style="width:25%;"><apex:outputText value="{!currentSub.ModelYear__c}" /></td>
                                <td class="tdStyle">Chassi</td>
                                <td class="textBox"  style="width:25%;"><apex:outputText value="{!currentSub.VIN__c}"/></td>
                            </tr>
                        </table>
                    </p>
                    <p class="marginStyle"><span class="SpanSizeHeading" ><b>3. SEGURO</b></span>
                        <br/>
                        <table class="bigTable" style="margin-top:-5px">
                            <tr>
                                <td class="tdStyle">Garantia do Fabricante</td>
                                <td class="textBox" style="width:100%;">A Garantia do Fabricante será de 3 anos a partir da data de aquisição do veículo.</td>
                            </tr>
                        </table>
                    </p>
                    <p class="marginStyle">
                        <table class="bigTable" style="line-height: 10px;margin-top:-5px">
                            <tr>
                                <td style="white-space: nowrap;width: 10px;">Vigência do Seguro </td>
                                <td style="background-color:white;"><p style="margin-top: 0px;margin-bottom: 0px;">A Vigência do Seguro iniciará às 24h do término da Garantia do Fabricante e perdurará por 24 meses.<br/>
                                                    As datas de vigência estarão devidamente especiflcadas na sua apólice de seguro." </p></td>
                            </tr>
                        </table>
                    </p>
                    <p class="marginStyle">
                        <table class="bigTable" style="margin-top:-5px">
                            <tr>
                                <td style="white-space: nowrap;width: 10px;">Prêmio Único Total</td>
                                <td style="background-color:white;width: 50%;">R$ {!currentProductCharge.Zuora__Price__c} </td>
                                <td style="white-space: nowrap;width: 10px;">IOF</td>
                                <td style="background-color:white;width: 50%;">R$ {!$Label.TaxRenaultKwid}</td>
                            </tr>
                        </table>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="background-color:white;">
                    <br/>
                    <span class="SpanSizeHeading marginStyle"><b>4. CARACTERISTICAS DO SEGURO</b></span>
                    <table class="bigTable" style="text-align:center;font-size:10px;">
                        <tr style="background-color:#d5cfcc;font-weight: bold">
                            <td>Coberturas</td>
                            <td>Objetivo</td>
                            <td><p>Prêmio<br/>(cobertura)</p></td>
                            <td>Carência</td>
                            <td>Franquia</td>
                            <td><p>Limite Máximo<br/>de Indenização</p></td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                        <tr style="background-color:#edeceb">
                            <td style="width:125px;">Extensão de Garantia Original</td>
                            <td>Garantir as mesmas coberturas oferecidas pela garantia original do fabricante.</td>
                            <td>R$ 0,00</td>
                            <td>Não há</td>
                            <td>Não há</td>
                            <td>Garante a indenização na forma de reparo do bem segurado para mão-de-obra e peças que venham apresentar avarias, desde que estas não sejam provocadas por uso indevido ou desgaste natural, limitado ao valor de nota flscal do bem segurado</td>
                        </tr>
                    </table>
                    <br/>
                    <p style="font-size:10px;" class="marginStyle">
                        <b>INFORMAÇÕES ADICIONAIS</b><br/>
                         Os danos causados por atos ilícitos dolosos ou por culpa grave equiparável ao dolo, praticados pelo segurado, pelo beneflciário ou representante legal de um ou de outro, estarão excluídos. A contratação do Seguro é opcional e é proibido condicionar desconto no preço do bem à aquisição do seguro; O Segurado deverá guardar o certiflcado de garantia do fabricante; O Segurado poderá desistir do seguro no prazo de 7 dias corridos a contar da assinatura da proposta, através da Central de Atendimento informada neste documento ou representante de seguro; Caso haja a necessidade de reparo no período de garantia do fabricante, deverá entrar em contato com o fabricante. Número de atendimento do fabricante vide manual de garantia do fabricante; Em uma eventual troca de peça no reparo e a mesma não estiver disponível no mercado, a seguradora se reserva no direito de realizar a substituição por outra similar de igual qualidade ou restituição do bem limitado ao valor pago em Nota Fiscal de compra.<b> Idade e Quilometragem do veículo: Para acionar o sinistro só serão aceitos veículos com até 4 anos e/ou no máximo 125.000 km rodados no primeiro ano de vigência do seguro e veículos com até 5 anos e/ou no máximo 150.000 km rodados no segundo ano de vigência do seguro, sempre respeitando o que vencer primeiro e a execução do plano de manutenção específlco para cada modelo de veículo.</b>

                         <br/>
                         Declaro ter tido conhecimento prévio da íntegra das Condições Gerais do presente Seguro e tenho conhecimento que também poderei consultá-la a qualquer momento através do site condicoesgerais.bnpparibascardif.com.br/ga.

                         <br/>
                    </p>
                         <table class="bigTable" style="font-size:10px;">
                            <tr>
                                <td style="white-space: nowrap;width: 5px;">Local e Data</td>
                                <td style="width:300px;border-bottom: 1px solid black;text-align:center;">Curitiba, {!strToday}</td>
                                <td style="white-space: nowrap;width: 10px;">Assinatura do Proponente</td>
                                <td style="border-bottom: 1px solid black;width:300px"></td>
                            </tr>
                         </table>

                         <apex:image value="{!URLFOR($Resource.Logo2_RenaultKwid)}" />

                         <table class="bigTable" style="font-size:10px;text-align:center;">
                            <tr>
                                <td class="footer1 tdStyle">Sinistros:</td>
                                <td class="footer2" style="width:200px">3003 4204 Capitais e Regiões Metropolitanas ou 0800 200 0984Demais Localidades</td>
                                <td class="footer1" style="width:150px">SAC - Informações de Seguro, Cancelamento e Reclamações:</td>
                                <td class="footer2" style="width:75px">0800 725 0690</td>
                                <td class="footer1">Deflciente Auditivo</td>
                                <td class="footer2" style="width:75px">0800 725 0645</td>
                                <td class="footer1">Disponíveis todos os dias – 24h.</td>
                            </tr>
                         </table>
                         <table class="bigTable" style="font-size:10px;background-color:#c0b8b6">
                            <tr>
                                <td>Seguradora: Cardif do Brasil Seguros e Garantias S.A. </td>
                                <td>CNPJ: 08.279.191/0001-84</td>
                                <td>Código SUSEP: 0293-</td>
                            </tr>
                            <tr>
                                <td colspan="3">Processo SUSEP: 15414.900069/2015-35 </td>
                            </tr>
                            <tr>
                                <td>Corretora: Corretora de Seguros RCI Brasil S.A</td>
                                <td>CNPJ: 04.406.267/0001-34</td>
                                <td>Registro SUSEP: 10.0431796</td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    Disposições Gerais: Caso não esteja satisfeito com a resposta fornecida pelo SAC, entre em contato com a Ouvidoria: 0800 727 2482 - Dias úteis, das 9h às 18 horas (horário de Brasília) exceto feriados ou acesse ouvidoria.bnpparibascardif.com.br. “O registro deste plano na SUSEP não implica, por parte da Autarquia,incentivo ou recomendação a sua comercialização.” “O segurado poderá consultar a situação cadastral de seu corretor de seguros, no site www.susep.gov.br,por meio do número de seu registro na SUSEP, nome completo, CNPJ ou CPF.” “A aceitação do seguro estará sujeita à análise do risco.” “As condições contratuais/regulamento deste produto protocolizadas pela sociedade/entidade junto à Susep poderão ser consultadas no endereço eletrônico www.susep.gov.br, de acordocom o número de processo constante da apólice/proposta.” “Em atendimento à Lei 12.741/12 informamos que incidem as alíquotas de 0,65% de PIS/Pasep e de 4%de COFlNS sobre os prêmios de seguros/as contribuições a planos de caráter previdenciário/os pagamentos destinados a planos de capitalização, deduzidos do estabelecido em legislação específlca.”.<b>A FRAUDE CONTRA SEGUROS É CRIME DENUNCIE (21)2253-1177 OU 181 - WWW.FENASEG.ORG.BR.</b>
                                </td>
                            </tr>
                         </table>
                    
                </td>
            </tr>
         </table>
    </body>
</html>
</apex:page>